button {
    margin: 5px 5px;
    background-color: rgb(253, 255, 129);
    border: 1px solid black;
    border-radius: 3px;
    &:hover {
        background-color: lightblue;
        cursor: pointer;
    }
}

.task {
    background-color: steelblue;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}